body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

/* TOP BAR */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background: white;
  border-bottom: 1px solid #ddd;
}

.login-btn {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

/* MAIN NEWS */
.main-news {
  margin: 12px;
  border-radius: 14px;
  overflow: hidden;
  position: relative;
}

.main-news img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.main-news .title {
  position: absolute;
  bottom: 0;
  padding: 12px;
  background: linear-gradient(transparent, rgba(0,0,0,0.8));
  color: white;
  font-size: 18px;
  font-weight: bold;
}

/* OTHER NEWS */
.news-list {
  padding: 12px;
}

.news-item {
  display: flex;
  gap: 10px;
  margin-bottom: 14px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.news-item img {
  width: 90px;
  height: 65px;
  border-radius: 8px;
  object-fit: cover;
}

.news-item p {
  margin: 0;
  font-weight: bold;
}










/* LOGIN PAGE */
.login-page {
  background: linear-gradient(135deg, #020617, #0f172a);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background: white;
  padding: 25px;
  width: 90%;
  max-width: 330px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(0,0,0,0.35);
}

.sub-text {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.login-card button {
  width: 100%;
  padding: 12px;
  background: #38bdf8;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

/* SECRET PAGE */
.secret-page {
  background: linear-gradient(135deg, #052e16, #064e3b);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secret-card {
  background: white;
  padding: 25px;
  width: 90%;
  max-width: 350px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(0,0,0,0.35);
}

.secret-box {
  background: #ecfdf5;
  border-radius: 12px;
  padding: 15px;
  margin: 15px 0;
}

.secret-card button {
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  background: #16a34a;
  color: white;
  font-weight: bold;
}
