body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

/* TOP BAR */
.topbar {
  background: #1e293b;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.login-btn {
  background: #38bdf8;
  padding: 8px 14px;
  color: black;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

/* NEWS */
.news-container {
  padding: 15px;
}

.news-card {
  background: white;
  display: flex;
  gap: 12px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 12px;
  align-items: center;
}

.news-card img {
  width: 90px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

.news-card a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
